Repository cs50victor/nightshift: changes, and which pre-commit hooks are due for each by the changed paths.
All: daemon-fmt-check, ui-lint, daemon-ci, server-ci, ui-ci

daemon-fmt-check:
  name: daemon fmt check
  entry: cargo fmt --manifest-path daemon/Cargo.toml -- --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ui-lint:
  name: ui lint
  entry: bash -lc 'cd ui && bun run lint'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

daemon-ci:
  name: daemon ci
  entry: bash -lc 'just lint-daemon && just test-daemon'
  language: system
  pass_filenames: false
  stages:
  - pre-push

server-ci:
  name: server ci
  entry: cd server && bun test
  language: system
  pass_filenames: false
  stages:
  - pre-push

ui-ci:
  name: ui ci
  entry: bash -lc 'cd ui && bun run lint && bun run typecheck'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(ui): use MenuTrigger directly for attach button
  ui/src/components/chat-input.tsx
Due: ui-lint, ui-ci

fix(daemon): unblock teams MCP startup and wire UI tests
  Justfile
  daemon/claude_teams_mcp.py
  ui/package.json
  ui/src/smoke.test.ts
Due: daemon-fmt-check, ui-lint, daemon-ci, ui-ci

fix(ui): use js smoke test for tsc compatibility
  ui/src/smoke.test.js
Due: ui-lint, ui-ci

fix(ui): lock session agent to team-manager
  ui/src/app/(app)/session/[id]/page.tsx
  ui/src/components/agent-select.tsx
  ui/src/components/chat-input.tsx
  ui/src/stores/agent-store.ts
Due: ui-lint, ui-ci

fix(daemon): reduce flakiness in supervisor lifecycle test
  daemon/src/claude_ingest.rs
Due: daemon-fmt-check, daemon-ci

Path conditions:
  daemon-fmt-check: any of: ^daemon/
  ui-lint: any of: ^ui/
  daemon-ci: any of: ^daemon/
  server-ci: any of: ^server/
  ui-ci: any of: ^ui/
